astrodbkit2>=0.5.1
astropy>=5.2.0,<6
bokeh==3.0.2
flask>=3.0,<4
flask-cors>=4.0,<5
flask-wtf>=1.2,<2
markdown2>=2.4,<3
multiprocess>=0.70,<1
numpy>=1.24,<2
pandas>=2.0,<2.1
pysqlite3>=0.5,<1
pytest>=8.0,<9
requests>=2.31,<3
specutils>=1.12,<2
sqlalchemy>=2.0,<3
tqdm>=4.66,<5
werkzeug>=3.0,<4
wtforms>=3.1,<4
