{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}


<div class='container'>
    <h1 class="display-2">The SIMPLE Archive</h1>
    <p class="display-6">
        The vision of the SIMPLE project is to create a collaborative database of low-mass stars, brown dwarfs,
        and directly imaged exoplanets: a simple archive of complex objects.
        The tables and fields currently included in the database are described in the
        <a href="https://github.com/SIMPLE-AstroDB/SIMPLE-db/blob/main/documentation/README.md" target="_blank">
        Documentation</a> and currently include names, coordinates, photometry and reference and data
        provenance information and is visualized in the
        <a href="https://github.com/SIMPLE-AstroDB/SIMPLE-db#simple-database-schema" target="_blank"> schema</a>.
    </p>
    <h2 class="display-3">Holdings</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="p-2 col-xxl-4">
            <img src="{{ url_for('static', filename='images/color_spectra_counts.png') }}"
                                  class="rounded img-fluid float-xxl-start" alt="">
        </div>
        <div class="p-2 col-xxl-4">
            <img src="{{ url_for('static', filename='images/colormag_counts.png') }}"
                                  class="rounded img-fluid mx-auto d-block" alt="">
        </div>
        <div class="p-2 col-xxl-4">
            <img src="{{ url_for('static', filename='images/photometry_counts.png') }}"
                                  class="rounded img-fluid float-xxl-end" alt="">
        </div>
    </div>
    <div class="row">
        <div class="p-2 col-xxl-4">
            <img src="{{ url_for('static', filename='images/spectra_ins_counts.png') }}"
                                  class="rounded img-fluid float-xxl-start" alt="">
        </div>
        <div class="p-2 col-xxl-4">
            <img src="{{ url_for('static', filename='images/spectra_telins_counts.png') }}"
                                  class="rounded img-fluid mx-auto d-block" alt="">
        </div>
        <div class="p-2 col-xxl-4">
            <img src="{{ url_for('static', filename='images/sptypes_counts.png') }}"
                                  class="rounded img-fluid float-xxl-end" alt="">
        </div>
    </div>
</div>
<div class='container'>
    <p class="display-6">
        We are currently working on including kinematics, spectra, images, and modelled and retrieved parameters.
        We are developing several different methods to interact with the database, including python,
        a website and API, and database browsers.<br>
        This database uses the <a href="https://docs.sqlalchemy.org/en/14/orm/index.html" target="_blank">
        SQLAlchemy ORM</a> and is designed to be interacted with via the
        <a href="https://pypi.org/project/astrodbkit2/" target="_blank"> astrodbkit2</a> package.
        The full database can be downloaded from the
        <a href="https://github.com/SIMPLE-AstroDB/SIMPLE-binary" target="_blank">binary repo</a>
        and manipulated via local SQLite software.
        The change log following the different versions of the database can be read
        <a href="https://github.com/SIMPLE-AstroDB/SIMPLE-db/releases" target="_blank">here</a>.
        To see more details about how this project got started and our first discussions,
        check out the <a href="https://github.com/SIMPLE-AstroDB/SIMPLE-db/wiki/Original-Notes" target="_blank">
        archived running notes in the Wiki</a>.
    </p>
    <h3 class="display-5">Publications:</h3>
    <p class="display-6">
        <a href="https://zenodo.org/records/8048528" target="_blank">Cool Stars 2021 Poster</a><br>
        <a href="https://zenodo.org/records/8414808" target="_blank">ADASS 2021 Poster</a>
    </p>
    <h2 class="display-3">Getting Involved</h2>
    <p class="display-6">
        If you'd like to take part or just stay in the loop as this project progresses,
        please request to join the
        <a href="https://groups.google.com/forum/#!forum/simple-archive" target="_blank"> discussion list</a>.
        For day-to-day discussions, please join us in the <i>#simple-db-dev</i> channel in the Astropy Slack workspace.
        If you are not already in the <a href="https://astropy.slack.com/" target="_blank"> Astropy Slack</a>,
        request an <a href="http://joinslack.astropy.org/" target="_blank"> account</a>.
    </p>
    <h3 class="display-5">Imposter syndrome disclaimer:</h3>
    <p class="display-6">
        We want your help. No, really.<br>
        There may be a little voice inside your head that is telling you that you’re not ready to
        be an open-source contributor; that your skills aren’t nearly good enough to contribute.
        What could you possibly offer a project like this one?
        We assure you - the little voice in your head is wrong.<br>
        If you can write code at all, you can contribute code to open source.
        Contributing to open-source projects is a fantastic way to advance one’s coding skills.
        Writing perfect code isn’t the measure of a good developer (that would disqualify all of us!);
        it’s trying to create something, making mistakes, and learning from those mistakes.
        That’s how we all improve, and we are happy to help others learn.<br>
        Being an open-source contributor doesn’t just mean writing code, either.
        You can help by writing documentation, tests, or even giving feedback about the project
        (and yes - that includes giving feedback about the contribution process).
        Some of these contributions may be the most valuable to the project,
        because you’re coming to the project with fresh eyes,
        so you can see the errors and assumptions that seasoned contributors have glossed over.
    </p>
</div>

{% endblock %}