{% extends "base.html" %}
{% set active_page = "home" %}

{% block content %}

    <div class="container">
        <h1 class="display-2" style="text-align: center">{{ e.code|safe }}</h1>
        <h2 class="display-3" style="text-align: center">Something went wrong:<br>{{ e.description|safe }}</h2>
        <h3 class="display-6">Please send the above error code and what you were trying to do, to the
            <a href="https://github.com/SIMPLE-AstroDB/SIMPLE-web/issues/new/choose" target="_blank">developers</a>.
        </h3>
        {% if e.code == 404 %}
            <img src="{{ url_for('static', filename='images/404image.png') }}"
                 class="rounded img-fluid mx-auto d-block" alt="">
        {% endif %}
    </div>

{% endblock %}