<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!--Set up meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SIMPLE Database</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- general css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Javascript/jquery-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    <!--Bokeh -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bokeh-3.7.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bokeh-widgets-3.7.3.min.js') }}"></script>
    <script type="text/javascript">Bokeh.set_log_level("info");</script>


    <!-- Aladin -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aladin.min.css') }}">
    {{ script|safe }}

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.bootstrap.min.css') }}"/>
    <script type="text/javascript" src={{ url_for('static', filename='js/jquery.dataTables.min.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/dataTables.responsive.min.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/responsive.bootstrap.min.js') }}></script>

    <!-- Overwriting Styles -->
    <style>
        thead,
        tbody,
        tfoot,
        tr,
        td,
        th {text-align: left}
        .display-6 {font-size: 1.5rem}
        .bk-btn,
        .bk-input-group {font-size: 1.5rem !important; height: 30px !important; padding: 0 !important;}
        .sql-list li {margin-bottom: 5px; border-bottom: 2px solid ghostwhite !important;}
        .ui-autocomplete {top: auto !important; left: auto !important;}
        #searchtable_wrapper,
        #searchtable_filter,
        #searchtable_length,
        .dataTables_wrapper,
        .dataTables_filter,
        .dataTables_length,
        .dataTables_info,
        .form-control.form-control-sm,
        .form-select.form-select-sm {color: aliceblue !important;}
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        .spinner {
            animation: spin 4s linear infinite;
        }
    </style>

    {{ resources|safe }}
    {{ scriptcmd|safe if scriptcmd is not none }}
    {{ scriptspectra|safe if scriptspectra is not none }}
    {{ scriptmulti|safe if scriptmulti is not none }}

    <!-- For Site24x7 monitoring -->
    <script type="text/javascript">
        (function(w,d,s,r,k,h,m){
	        if(w.performance && w.performance.timing && w.performance.navigation) {
		        w[r] = w[r] || function(){(w[r].q = w[r].q || []).push(arguments)};
		        h=d.createElement('script');h.async=true;h.setAttribute('src',s+k);
		        d.getElementsByTagName('head')[0].appendChild(h);
		        (m = window.onerror),(window.onerror = function (b, c, d, f, g) {
		        m && m(b, c, d, f, g),g || (g = new Error(b)),(w[r].q = w[r].q || []).push(["captureException",g]);})
	            }
            })(window,document,'//static.site24x7rum.com/beacon/site24x7rum-min.js?appKey=','s247r','956e5c90528e8587b16eab11e613e6d9');
    </script>
    
</head>

<body class="container-fluid" style="padding-top: 75px">
    <div class="container-fluid">
        {% set navigation_bar = [
           ('/', 'home', 'Home'),
           ('/search', 'search', 'Search by Object'),
           ('/coordinate_query', 'coordinate_query', 'Query by Coordinates'),
           ('/load_full_text', 'full_text_search', 'Full Text Search'),
           ('/load_multi_plot', 'view', 'Explore the Database'),
           ('/raw_query', 'raw_query', 'Query using SQL'),
           ('/about', 'about', 'About the SIMPLE Archive')
        ] -%}
        {% set active_page = active_page|default('home') -%}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">SIMPLE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% for href, activeid, caption in navigation_bar %}
                            <li class="nav-item">
                                <a
                                    {% if activeid == active_page %}
                                        class="nav-link active"
                                    {% else %}
                                        class="nav-link"
                                    {% endif %} href="{{ href|e }}">{{ caption|e }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="divider"></div>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    <div class="divider"></div>
    <div class="container">
        <footer class="border-top py-3 my-4">
            <p class="text-muted">
                Head to our GitHub repositories learn more about
                <a href="https://github.com/SIMPLE-AstroDB/SIMPLE-db/" target="_blank">SIMPLE</a>
                and leave <a href="/feedback">feedback</a> on the
                <a href="https://github.com/SIMPLE-AstroDB/SIMPLE-web/" target="_blank">website!</a>
                <span style="float: right">
                    {{ version_str|safe }}
                </span>
            </p>
        </footer>
    </div>
</body>
</html>
