<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!--Set up meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SIMPLE Database</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- general css -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">

    <!-- JS AND CSS NOT IN USE YET, WILL BE USEFUL LATER WITH ADDED FUNCTIONALITY -->
    <!-- TODO: download local versions of scripts when they are to be used -->


    <!--Javascript/jquery-->
<!--    <script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>-->
        <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
        <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<!--    <script src="{{ url_for('static', filename='js/query-builder.standalone.min.js') }}"></script>-->

    <!--Bokeh -->
{#    <link rel="stylesheet" href="//cdn.pydata.org/bokeh/release/bokeh-2.3.2.min.css" type="text/css" />#}
{#    <link rel="stylesheet" href="//cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.2.min.css" type="text/css" />#}
    <script type="text/javascript" src="//cdn.pydata.org/bokeh/release/bokeh-2.3.2.min.js"></script>
    <script type="text/javascript" src="//cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.2.min.js"></script>
    <script type="text/javascript">Bokeh.set_log_level("info");</script>

    <!-- DataTables -->
<!--    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>-->
<!--    <link rel=stylesheet type=text/css href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">-->
<!--    <script>-->
<!--        $(document).ready( function () {-->

<!--            // // Toggle columns-->
<!--            // $('#tableselector').change(function(){-->
<!--            //     $('.columns').hide();-->
<!--            //     $('#' + $(this).val()).show();-->
<!--            // });-->

<!--            // $('.dataframe').DataTable( {-->
<!--            //     "pageLength": 20,-->
<!--            //     "paging": true,-->
<!--            //     // "columnDefs": [ {-->
<!--            //     //     "visible": true,-->
<!--            //     //     "targets": [4]-->
<!--            //     // } ]-->
<!--            // });-->

<!--            var table = $('.display').DataTable( {-->
<!--                "scrollY": "500px",-->
<!--                // "scrollX": "500px",-->
<!--                "scrollCollapse": true,-->
<!--                "paging": false-->
<!--            } );-->

<!--            // $('a.toggle-vis').on( 'click', function (e) {-->
<!--            //     e.preventDefault();-->
<!--            //-->
<!--            //     // Get the column API object-->
<!--            //     var column = table.column( $(this).attr('data-column') );-->
<!--            //-->
<!--            //     // Toggle the visibility-->
<!--            //     column.visible( ! column.visible() );-->
<!--            // } );-->

<!--            $('#select-all').click(function(event) {-->
<!--                if(this.checked) {-->
<!--                    // Iterate each checkbox-->
<!--                    $(':checkbox').each(function() {-->
<!--                        this.checked = true;-->
<!--                    });-->
<!--                }-->
<!--                else {-->
<!--                    // Iterate each checkbox-->
<!--                    $(":checkbox").each(function() {-->
<!--                        this.checked = false;-->
<!--                    });-->
<!--                }-->
<!--            } );-->

<!--        });-->
<!--    </script>-->

    <!-- Aladin -->
    <link rel="stylesheet" href="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
    {{ resources }}
    {{ script|safe }}
            
</head>

<body style="line-height:1.5em; width: fit-content; color: #5f6988">
    <div id="header">
        <div class='head'>
            <a href='/'>
                <div>
                    <h1 style="padding-top:38px;" class="title">SIMPLE Database</h1>
                </div>
            </a>
        </div>
        <div class='clearfix'>
            <ul>
                <li><a href="/search" class="title">Query the Database</a></li>
                <li><a href="/schema" class="title">About the SIMPLE Database</a></li>
                <li><a href="/feedback" class="title">Feedback/Questions</a></li>
            </ul>
        </div>
    </div>

    <div class=page>
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div id="footer" style='border-top:1px black solid; padding:20px;'>

            <div style='float:left;'>
                <p style='float:left; margin:0;'>Encountered an error or mistake? We'd love your
                    <a href="/feedback">feedback</a>!</p>
            </div>

            <div class='clearfix'></div>
        </div>
    </footer>
</body>
</html>
