<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!--Set up meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SIMPLE Database</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- general css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Javascript/jquery-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    <!--Bokeh -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bokeh-2.3.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bokeh-widgets-2.3.2.min.js') }}"></script>
    <script type="text/javascript">Bokeh.set_log_level("info");</script>


    <!-- Aladin -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aladin.min.css') }}">
    {{ script|safe }}
            
</head>

<body class="container-fluid" style="padding-top: 75px">
    <div class="container-fluid">
        {% set navigation_bar = [
           ('/', 'home', 'Home'),
           ('/search', 'search', 'Query the Database'),
           ('/multiplot', 'view', 'View the Database'),
           ('/schema', 'schema', 'About the Database'),
           ('/feedback', 'feedback', 'Feedback/ Questions')
        ] -%}
        {% set active_page = active_page|default('home') -%}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">Simple</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% for href, activeid, caption in navigation_bar %}
                            <li class="nav-item">
                                <a
                                    {% if activeid == active_page %}
                                        class="nav-link active"
                                    {% else %}
                                        class="nav-link"
                                    {% endif %} href="{{ href|e }}">{{ caption|e }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="divider"></div>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    <div class="divider"></div>
    <div class="container-fluid">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item">
                    <a class="nav-link px-2 text-muted" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-muted" href="/search">Query the Database</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-muted" href="/multiplot">View the Database</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-muted" href="/schema">About the Database</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-muted" href="/feedback">Feedback/ Questions</a>
                </li>
            </ul>
        </footer>
    </div>
</body>
</html>
