{% extends "base.html" %}
{% set active_page = "full_text_search" %}

{% block content %}

    <div class="container">
        <h2 class="display-3">Exploring the Database</h2>
        <form method="get" action="{{ url_for('full_text_search') }}" id="searchform">
            {{ form.csrf_token }}
            <fieldset class="mb-3">
                {{ form.search.label(class_="form-label") }}
                {{ form.search(size=30, placeholder="free text search", class_="form-control") }}
            </fieldset>
            {% if form.search.errors %}
            <fieldset class="mb-4">
                {% for error in form.search.errors %}
                    <p class="display-6" style="color: #5f6988">
                        {{ error }}
                    </p>
                {% endfor %}
            </fieldset>
            {% endif %}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>


    <div id="loadingDiv" class="container align-items-center justify-content-center">
        <div class="ml-auto align-items-center" role="status" aria-hidden="true">
            <img src="{{ url_for('static', filename='images/loading.png') }}" class="spinner" alt="Loading">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="container" id="tables" style="display: none">
        {% if query != '' and results|length > 0 %}
        <h2 class="display-3"><a href="{{ url_for('create_files_for_multi_download') }}">
            Results</a> for: {{ query|safe }}</h2>
        {% else %}
        <h2 class="display-3">Results for: {{ query|safe }}</h2>
        {% endif %}
        {% for tabname, df in results.items() %}
            <div class="container table-responsive">
                {% if query != '' %}
                <h3 class="display-4"><a href="{{ url_for('create_file_for_full_download', key=tabname) }}">
                    {{ tabname|safe }}</a></h3>
                {% else %}
                <h3 class="display-4">{{ tabname|safe }}</h3>
                {% endif %}
                <p class="display-6">{{ df|safe }}</p>
            </div>
        {% endfor %}
        {% if query != '' %}
        <p class="display-6">Are we missing any expected data? Please open an
            <a href="https://github.com/SIMPLE-AstroDB/SIMPLE-db/issues/new?assignees=&labels=data+ingestion&projects=&template=missing-source.md&title=Ingest+request%3A+%3Csource+name%3E" target="_blank">
                issue</a>!</p>
        {% endif %}
    </div>

    <script>
        function delay(callback, ms) {
          let timer = 0;
          return function() {
            let context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
              callback.apply(context, args);
            }, ms || 0);
          };
        }
        $('#mainsearchfield').keyup(
            delay(
                function () {
                    $('#querybutton').trigger("click");},
                3000)
        )
    </script>
    <script>
        function setCaretPosition(ctrl, pos) {
            if (ctrl.setSelectionRange) {
                ctrl.focus();
                ctrl.setSelectionRange(pos, pos);
            } else {
            }
        }
        window.onload = function () {
          let searchvalue = document.getElementById('mainsearchfield');
          searchvalue.focus();
          setCaretPosition(searchvalue, searchvalue.value.length);
        };
    </script>
    <script>
        $(document).ready(function() {
            $('#loadingDiv').hide();
            $('#tables').show().promise().done(function () {
                $("table").each(function() {
                    $(this).DataTable( {
                        responsive: true,
                        autoWidth: false
                    });
                });
            })
        }
        );
    </script>

{% endblock %}