{% extends "base.html" %}
{% set active_page = "home" %}

{% block content %}

<div class='container-fluid'>
    <h1 class="display-2">Welcome!</h1>
    <p style="line-height:1.5em;">The SIMPLE Database is a cross-matched and curated collection of<br>
        astrometry, photometry, spectra, and image data for {{source_count|safe}} sources from the literature.
        You can search the database, find out more about the database, or leave website feedback
        using the menu above.
    </p>
</div>

{% endblock %}