{% extends "base.html" %}
{% set active_page = "view" %}
{% block content %}

<div class="container">
    <div id="loadingDiv" class="d-flex align-items-center">
        <div class="ml-auto align-items-center" role="status" aria-hidden="true">
            <img src="{{ url_for('static', filename='images/loading.png') }}" class="spinner" alt="Loading">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<script>
    window.location.replace('/multi_plot');
</script>
{% endblock %}