{% extends "base.html" %}
{% set active_page = "view" %}
{% block content %}

<div class="container">
    <h2 class="display-3">Exploration of the full dataset</h2>
    <p class="display-6">The below plots are linked such that highlighting a number of points (see toolbar) will highlight
    the same points on the other plots (if the data is available). You can also tap on any point to view that particular
    object in another tab.
    </p>
    <div class="block" id="multiplot">
        {{ divmulti|safe if divmulti is not none }}
    </div>
</div>

{% endblock %}