{% extends "base.html" %}
{% set active_page = "raw_query" %}

{% block content %}

    <div class="container">
        <div class="d-flex row">
            <div class="col-7 flex-grow-1">
                <h2 class="display-3">Exploring the Database</h2>
                <form method="post" action="{{ url_for('raw_query') }}" id="searchform">
                    {{ form.csrf_token }}
                    <fieldset class="mb-3">
                        {{ form.sqlfield.label(class_="form-label display-6") }}
                        {{ form.sqlfield(size=30, placeholder="select * from Sources",
                         class_="form-control display-6") }}
                    </fieldset>
                    {% if form.sqlfield.errors %}
                    <fieldset class="mb-4">
                        {% for error in form.sqlfield.errors %}
                            <p class="display-6" style="color: #5f6988">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </fieldset>
                    {% endif %}
                    {{ form.submit(class_="btn btn-primary display-6") }}
                </form>
            </div>
            <div class="col-5 m-lg-auto">
                <h3 class="display-4">Examples:</h3>
                <p class="display-6">
                    <a href="https://github.com/SIMPLE-AstroDB/SIMPLE-db#simple-database-schema" target="_blank">
                        View the full schema
                    </a>
                    or read the
                    <a href="https://github.com/SIMPLE-AstroDB/SIMPLE-db/tree/main/documentation" target="_blank">
                        documentation</a>.
                    <ul style="list-style-type: none" class="display-6 sql-list">
                        <li>
                            select * from Sources
                        </li>
                        <li>
                            select * from Sources<br>
                            where source like "%twa%"
                        </li>
                        <li>
                            select * from Sources<br>
                            join Photometry<br>
                            using (source)<br>
                            where source like "%twa%"
                        </li>
                    </ul>
                    Note that the query backend is SQLite, be aware of any
                    <a href="https://www.sqlite.org/lang_keywords.html" target="_blank"> syntax differences</a>.
                    You can also submit queries with Ctrl+Enter.
                </p>
            </div>
        </div>
    </div>
    <script>
    $('#rawsqlarea').keydown(
        function (e) {
            if ((e.ctrlKey || e.metaKey) && (e.keyCode === 13 || e.keyCode === 10)) {
                $('#querybutton').trigger("click");
            }
        }
    )
    </script>
    <script>
        function setCaretPosition(ctrl, pos) {
            if (ctrl.setSelectionRange) {
                ctrl.focus();
                ctrl.setSelectionRange(pos, pos);
            } else {
            }
        }
        window.onload = function () {
          let searchvalue = document.getElementById('rawsqlarea');
          searchvalue.focus();
          setCaretPosition(searchvalue, searchvalue.value.length);
        };
    </script>
    <div class="container table-responsive">
        {% if query != '' and results is not none %}
            <h2 class="display-3"><a href="{{ url_for('create_file_for_sql_download') }}">Results</a>:</h2>
        {% else %}
            <h2 class="display-3">Results:</h2>
        {% endif %}
        <p class="display-6">{{ results|safe if results is not none }}</p>
        {% if query != '' %}
        <p class="display-6">Are we missing an expected result? Please open an
            <a href="https://github.com/SIMPLE-AstroDB/SIMPLE-db/issues/new" target="_blank">issue</a>!</p>
        {% endif %}
    </div>
    <script>
        $(document).ready(function() {
            $(".table").each(function() {
                $(this).DataTable( {
                    responsive: true,
                    autoWidth: false
                });
            });
            }
        );
    </script>

{% endblock %}