{% extends "base.html" %}
{% set active_page = "rawquery" %}

{% block content %}

    <div class="container">
        <h2 class="display-3">Exploring the Database</h2>
        <form method="post" action="{{ url_for('raw_query') }}" id="searchform">
            {{ form.csrf_token }}
            <fieldset class="mb-3">
                {{ form.sqlfield.label(class_="form-label") }}
                {{ form.sqlfield(size=30, class_="form-control") }}
            </fieldset>
            {% if form.sqlfield.errors %}
            <fieldset class="mb-4">
                {% for error in form.sqlfield.errors %}
                    <p class="display-6" style="color: #5f6988">
                        {{ error }}
                    </p>
                {% endfor %}
            </fieldset>
            {% endif %}
            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
    <script>
    $('#rawsqlarea').keydown(
        function (e) {
            if ((e.ctrlKey || e.metaKey) && (e.keyCode === 13 || e.keyCode === 10)) {
                $('#querybutton').trigger("click");
            }
        }
    )
    </script>
    <script>
        function setCaretPosition(ctrl, pos) {
            if (ctrl.setSelectionRange) {
                ctrl.focus();
                ctrl.setSelectionRange(pos, pos);
            } else {
            }
        }
        window.onload = function () {
          let searchvalue = document.getElementById('rawsqlarea');
          searchvalue.focus();
          setCaretPosition(searchvalue, searchvalue.value.length);
        };
    </script>
    <div class="container-fluid">
        <p class="display-6">{{ results|safe if results is not none }}</p>
    </div>

{% endblock %}