{% extends "base.html" %}
{% set active_page = "search" %}

{% block content %}

    <div class="container">
        <h2 class="display-3">Exploring the Database</h2>
        <form method="get" action="{{ url_for('search') }}" id="searchform">
            {{ form.csrf_token }}
            <fieldset class="mb-3">
                {{ form.search.label(class_="form-label") }}
                {{ form.search(size=30, placeholder="source", class_="form-control") }}
            </fieldset>
            <fieldset class="mb-3">
                {{ form.ref_search.label(class_="form-label") }}
                {{ form.ref_search(size=30, placeholder="free text search", class_="form-control") }}
            </fieldset>
            {% if form.search.errors %}
            <fieldset class="mb-4">
                {% for error in form.search.errors %}
                    <p class="display-6" style="color: #5f6988">
                        {{ error }}
                    </p>
                {% endfor %}
            </fieldset>
            {% endif %}
            {% if form.ref_search.errors %}
            <fieldset class="mb-4">
                {% for error in form.ref_search.errors %}
                    <p class="display-6" style="color: #5f6988">
                        {{ error }}
                    </p>
                {% endfor %}
            </fieldset>
            {% endif %}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <script>
        $(function() {
            $.ajax({
                url: '{{ url_for("autocomplete") }}'
                }).done(function (data) {
                    $('#mainsearchfield').autocomplete({
                        source: data.alljsonlist,
                        minLength: 2,
                        appendTo: "#searchform"
                    });
                });
            });
    </script>
    <script>
        function delay(callback, ms) {
            let timer = 0;
            return function () {
                let context = this, args = arguments;
                clearTimeout(timer);
                timer = setTimeout(function () {
                    console.log(context.id, document.activeElement.id)
                    if (context.id === document.activeElement.id) {
                        callback.apply(context, args);
                    }
                }, ms || 0);
            };
        }
        $('#mainsearchfield').keypress(
            delay(
                function () {
                    $('#querybutton').trigger("click");
                }, 3000
            )
        )
        $('#refsearchfield').keypress(
            delay(
                function () {
                    $('#querybutton').trigger("click");
                }, 3000
            )
        )
    </script>
    <script>
        function setCaretPosition(ctrl, pos) {
            if (ctrl.setSelectionRange) {
                ctrl.focus();
                ctrl.setSelectionRange(pos, pos);
            } else {
            }
        }
        window.onload = function () {
          let searchvalue = document.getElementById('mainsearchfield');
          searchvalue.focus();
          setCaretPosition(searchvalue, searchvalue.value.length);
        };
    </script>
    <div class="container table-responsive">
        {% if query != '' and results is not none %}
        <h2 class="display-3"><a href="{{ url_for('create_file_for_filtered_download') }}">Results</a>
            for: {{ query|safe }}</h2>
        {% else %}
        <h2 class="display-3">Results for: {{ query|safe }}</h2>
        {% endif %}
        <p class="display-6">{{ results|safe if results is not none }}</p>
        {% if query != '' %}
        <p class="display-6">Are we missing an expected result? Please raise an
            <a href="https://github.com/SIMPLE-AstroDB/SIMPLE-db/issues/new" target="_blank">issue</a>!</p>
        {% endif %}
    </div>
    <script>
        $(document).ready(function() {
            $('#searchtable').DataTable( {
                    responsive: true,
                    autoWidth: false
                });
        } );
    </script>

{% endblock %}