{% extends "base.html" %}

{% block content %}

    <div class="form-wrapper">
        <h2 class="title">Search for an object</h2>
        <form method="post" action="{{ url_for('search') }}" id="searchform">
            {{ form.csrf_token }}
            <fieldset class="form-field">
                {{ form.search.label }}
                {{ form.search(size=40) }}
            </fieldset>
            {% if form.search.errors %}
            <fieldset class="form-field">
                {% for error in form.search.errors %}
                    <p id="footer" style="color: #5f6988">
                        {{ error }}
                    </p>
                {% endfor %}
            </fieldset>
            {% endif %}
            {{ form.submit }}
        </form>
    </div>
    <script>
    $(function() {
        $.ajax({
            url: '{{ url_for("autocomplete") }}'
            }).done(function (data) {
                $('#autocomplete').autocomplete({
                    source: data.alljsonlist,
                    minLength: 2
                });
            });
        });
    </script>
    <script>
    function delay(callback, ms) {
      let timer = 0;
      return function() {
        let context = this, args = arguments;
        clearTimeout(timer);
        timer = setTimeout(function () {
          callback.apply(context, args);
        }, ms || 0);
      };
    }
    $('#autocomplete').keyup(
        delay(
            function () {
                $('#querybutton').trigger("click");},
            2000)
    )
    </script>
    <script>
    function setCaretPosition(ctrl, pos) {
        if (ctrl.setSelectionRange) {
            ctrl.focus();
            ctrl.setSelectionRange(pos, pos);
        } else {
        }
    }
    window.onload = function () {
      let searchvalue = document.getElementById('autocomplete');
      searchvalue.focus();
      setCaretPosition(searchvalue, searchvalue.value.length);
    };
    </script>
    <div class='block'>
        <h1>Results for: {{ query|safe }}</h1>
        <p style="line-height:1.5em; font-size: x-large">{{ results|safe }}</p>
    </div>

{% endblock %}